[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
sqlalchemy-cockroachdb = "*"
python-dotenv = "*"
pyjwt = "*"
passlib = "*"
bcrypt = "*"

[dev-packages]
alembic = "*"

[requires]
python_version = "3.8"
